.comment-bnr {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 20px;
}

.comment-btn {
  margin: auto 10px auto 10px;
}

.index_comment_header {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 20px;
}

.comment-frm {
  margin-bottom: 20px;
}

.comment_form {
  display: none;
}
