.post-bnr {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 20px;
}

.post-btn {
  margin: auto 10px auto 10px;
}

.index_post_header {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 20px;
}

.post-frm {
  margin-bottom: 20px;
}
